.json
.unity
.csproj
.pid
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.vs
*.vscode
*.vsix
*.vstemplate
*.vstemplatex
*.sln.docstates
*.suo
*.meta
*.tmp
*.pidb
*.userprefs
*.csproj.user
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.FBX
Assets/AssetStoreTools*
